/Arquiteturas/RestFull/target/
/Arquiteturas/RestFull/RestFull/target/
/.metadata/
/Arquiteturas/JDBCConnection/target/
/Arquiteturas/JPA/target/
/Arquiteturas/QueryDsl/target/
/Arquiteturas/JavaApplication1/CDISE/nbproject/
/Arquiteturas/JavaApplication1/CDISE/target/
/Arquiteturas/CDI/target/